FROM node:16.20.1 as BUILD

WORKDIR {{ game2048_path }}

COPY ./package*.json ./

RUN npm install --include=dev

COPY ./ ./

RUN npm run build


FROM node:16.20.1-alpine

WORKDIR {{ game2048_path }}

COPY --from=BUILD {{ game2048_path }} ./

CMD ["npm", "run", "start"]
