[Unit]
Description=Game2048. Build specially for DeusOps
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=//bin/docker start {{ docker_container_name }}
ExecStop=/usr/bin/docker stop {{ docker_container_name }}

[Install]
WantedBy=multi-user.target
